In [1]:
print("Hello World!")

Hello World!

In [2]:
print("Hi! I am Sarila Ngakhusi")

Hi! I am Sarila Ngakhusi

In [3]:
a = 10
b = 2
a/b

5.0

In [4]:
print(a/b)

5.0

In [5]:
str1 = "Sarila"
str2 = "Ngakhusi"
fullname = str1 +" "+ str2
print("My name is: "+fullname)

My name is: Sarila Ngakhusi

Arithmetic Operations

In [6]:
a = 10
b = 4

In [7]:
a/b

2.5

In [8]:
a//b

2

In [9]:
a*b

40

In [10]:
a**b

10000

In [11]:
a+b

14

In [12]:
a-b

6

List Operations

In [13]:
employees = ["John", "Green", "Taylor", "Red", "Black", "Blood"]

In [14]:
employees.count("Green")

1

In [15]:
employees.append("Green")
print(employees)

['John', 'Green', 'Taylor', 'Red', 'Black', 'Blood', 'Green']

In [16]:
employees.append(["Swift", "Orange"])
print(employees)

['John', 'Green', 'Taylor', 'Red', 'Black', 'Blood', 'Green', ['Swift', 'Orange']]

In [17]:
employees.extend(["Swift", "Orange"])
print(employees)

['John', 'Green', 'Taylor', 'Red', 'Black', 'Blood', 'Green', ['Swift', 'Orange'], 'Swift', 'Orange']

In [18]:
name = ["Alex", "John", "Thomas"]

In [19]:
age = [12, 50, 36]

In [20]:
print(name+age)

['Alex', 'John', 'Thomas', 12, 50, 36]

Slicing of List

In [21]:
print(employees[2:3])

['Taylor']

In [22]:
print(employees)

['John', 'Green', 'Taylor', 'Red', 'Black', 'Blood', 'Green', ['Swift', 'Orange'], 'Swift', 'Orange']

In [25]:
employees.pop(7)

['Swift', 'Orange']

In [26]:
employees

['John',
 'Green',
 'Taylor',
 'Red',
 'Black',
 'Blood',
 'Green',
 'Swift',
 'Orange']

Tuple

In [27]:
a_tuple = (1,2,3,4,5,)

In [28]:
a_tuple

(1, 2, 3, 4, 5)

In [29]:
a_dictionary = {
    'name' : 'Sarila',
    'class' : '10',
    'roll no' : 40
}

In [30]:
a_dictionary

{'name': 'Sarila', 'class': '10', 'roll no': 40}

In [34]:
a_dictionary['name'] = 'Joshep'

In [35]:
a_dictionary

{'name': 'Joshep', 'class': '10', 'roll no': 40}

In [37]:
Some_dict = {'numbers':[67, 45, 5, 3, 60], 'names': ['john', 'thomas', 'supriya', 'ray']}

In [39]:
len(Some_dict)

2

In [41]:
Some_dict['numbers'][0]

67

In [42]:
Some_dict['names'][3]

'ray'

List Comprehension

List comprehension offers a short syntax to create a list based on existing values

In [4]:
even_list = []
for item in range(0, 50):
    if item%2==0:
        even_list.append(item)

print(even_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [5]:
#from List comprehension
even = [item for item in range(0, 50) if item%2==0]
print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [6]:
#Exists set comprehension 
even_set = {item for item in range(0, 50) if item%2==0}
print(even_set)

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48}

In [7]:
#exists dictionary comprehension
square = {item: item*item for item in range(0, 10) if item%2==0}
print(square)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

Tuple being immutable, comprehension cannot be done on Tuple